 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    :root {
    --mainColor: rgb(249 15 115 / 54%);
    --secondColor: #4d4d77;
    --logoColor: #ffe6e9;
    }

    body {
    
    background-color: #f8f8f8;
        font-family: "Tajawal", sans-serif;
        
        height: 100vh;
    }
    .header{
        display: flex;
        justify-content: space-between;
        background-color: var(--logoColor);
        margin-bottom: 15px;
        padding: 0 30px 0 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}
    h2{        
        color: var(--secondColor);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product{
        display: flex;        
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    .product img{
        width: 400px;
        height: 400px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin: 10px;
}